<h1>HELLO FROM DEMO HELLO.HTML.ERB</h1>

<% @array.each do |n| %>
  <%= n %> <br/>
<% end %>

<br/>

<%= link_to  "Index Page", 'index' %><br/>

ID: <%= @id %><br/>
ID: <%= params[:id] %><br/>
Params: <%= @page %><br/>
Next Page: <%= @page.to_i + 1%><br/>